/*
File name: about.css
Student Name: Marta Polishchuk
Student ID: 301432299
Date: October 1, 2024 
 */

.about-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-wrapper img{
    width: 100%;
    max-width: 300px;
    border-radius: 10%;
    margin: 1em;
}

.about-wrapper h2{
  text-align: left;
  margin-left: 2%;
}

.about-wrapper p{
    font-size: 1.2em;
    line-height: 1.5;
    margin: 1em;
    text-align: left;
}