/*
File name: app.css
Student Name: Marta Polishchuk
Student ID: 301432299
Date: October 1, 2024 
 */

#root {
  max-width: 90vw; /*extended width*/
  margin: auto;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

img.logo {
  max-height: 50px;
  width:auto;
  margin: auto;
  padding-right: 20px;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* mobile queries */
@media (max-width: 1250px) {
  #root {
    width: 100vw; /*extended width*/
    margin: 0;
    padding: 0;
  }
}